.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.fixedButtonContainer {
  position: fixed;
  display: none;
  opacity: 0;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 1000;
  gap: 10px;
}