.selectorWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.link{
    display: flex;
    text-decoration: none;
  color: #242424;
}
