.faq {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: transparent;
  padding: 0;
}

.item {
  transition: box-shadow 0.3s, border 0.3s;
}

.question {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: color 0.2s;
}

.question:hover {
  color: #007FFF;
}

.arrow, .arrowOpen {
  margin-left: 1rem;
  transition: transform 0.3s;
}

.arrowOpen {
  transform: rotate(180deg);
}

.answer {
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s, padding 0.3s;
}

.answerContent {
  padding: 1rem 0 0 0;
  color: #555;
  font-size: 1rem;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 1rem;
  border-radius: 1.5rem;

  h2 {
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 3rem;
    background: linear-gradient(90deg, #888 0%, #222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    color: transparent;

    @media screen and (max-width: 1028px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 2rem;
    background: linear-gradient(90deg, #69cfff 0%, #9337ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Damion", cursive;
    color: transparent;

    @media screen and (max-width: 1028px) {
      font-size: 1.5rem;
    }
  }
}


.wrapper {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1028px) {
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
}
